rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowedUser() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email in [
          "terry4410@gmail.com",
          "baritone90064@gmail.com"
        ];
    }

    match /bookmarks/{bookmarkId} {
      allow read, create, update, delete: if isAllowedUser();
    }
  }
}
